.todoItemEdit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 0 #adadad;

    input[type='text'] {
        width: 100%;
        height: 30px;
        padding: 0 10px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px 0 #adadad;
    }

    textarea {
        width: 100%;
        height: 80px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px 0 #adadad;
        resize: none;
    }

    .bottomBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dateAndFile {
            input[type='date'] {
                height: 30px;
                padding: 0 10px;
                margin-right: 20px;
                box-shadow: 0px 0px 5px 0 #adadad;
            }

            .deleteBtn {
                position: relative;
                top: 2px;
                cursor: pointer;

                &:hover {
                    fill: #7c3a00;
                }
            }
        }

        .buttons {
            button {
                height: 30px;
                padding: 0 10px;
                background-color: #7c3a00;
                box-shadow: 0px 0px 5px 0 #adadad;
                color: #FFFFFF;
                font-weight: bold;
                transition: 0.5s;

                &:hover {
                    background-color: #5c2b00;
                }
            }

            .cancelBtn {
                margin-right: 15px;
                background-color: #646464;

                &:hover {
                    background-color: #3e3e3e;
                }
            }
        }
    }
}